config VIDEO_IPU3_ACPI
	tristate
	depends on ACPI
	---help---
	   This helper library exports functions to be used by the IPU3
	   drivers to enumerate the sensors and VCM through ACPI.

config VIDEO_IPU3_CIO2
	tristate "Intel ipu3-cio2 driver"
	depends on VIDEO_DEV && PCI
	depends on HAS_DMA
	depends on ACPI
	depends on 64BIT
	select VIDEO_IPU3_ACPI
	select VIDEOBUF2_DMA_SG
	select V4L2_FWNODE
	---help---
	This is the video4linux2 driver for Intel IPU3 CSI2 receiver unit,
	found in Intel Skylake and Kaby Lake SoCs and used for capturing
	images and video from a camera sensor.

	Say Y or M here if you have a Skylake/Kaby Lake SoC with a camera.
	The module will be called ipu3-cio2.

config VIDEO_IPU3_IMGU
	tristate "Intel ipu3-imgu driver"
	depends on PCI && VIDEO_V4L2 && IOMMU_SUPPORT
	depends on MEDIA_CONTROLLER && VIDEO_V4L2_SUBDEV_API
	depends on X86_64
	select INTEL_IPU3_MMU
	select INTEL_IPU3_DMAMAP
	select VIDEOBUF2_DMA_SG
	---help---
	This is the video4linux2 driver for Intel IPU3 image processing unit,
	found in Intel Skylake and Kaby Lake SoCs and used for processing
	images and video.

	Say Y or M here if you have a Skylake/Kaby Lake SoC with a MIPI
	camera.	The module will be called ipu3-imgu.

config INTEL_IPU3_MMU
	tristate
	default n
	select IOMMU_API
	select IOMMU_IOVA
	---help---
	  For IPU3, this option enables its MMU driver to translate its internal
	  virtual address to 39 bits wide physical address for 64GBytes space access.

	  Say Y here if you have Skylake/Kaby Lake SoC with IPU3.
	  Say N if un-sure.

config INTEL_IPU3_DMAMAP
	tristate
	default n
	select IOMMU_DMA
	select IOMMU_IOVA
	---help---
	This is IPU3 IOMMU domain specific DMA driver.
